body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#ff6b6b;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#333;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.container{
padding:40px;
text-align:center;
}

.toy-grid{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:25px;
}

.toy-card{
background:white;
padding:20px;
border-radius:10px;
width:200px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
transition:0.3s;
}

.toy-card:hover{
transform:scale(1.05);
}

.toy-card img{
width:100%;
border-radius:10px;
}

button{
background:#ff6b6b;
border:none;
padding:10px 15px;
color:white;
margin-top:10px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#ff4040;
}

footer{
margin-top:40px;
background:#333;
color:white;
text-align:center;
padding:15px;
}
